# Ignore everything inside target/
target/*
# But allow .gitkeep file
!target/.gitkeep

# Ignore everything inside src/
src/*
# But allow src/main/ and files inside it
!src/main/.gitkeep
!src/main/**/.gitkeep